@import "nullstyle.scss";

@font-face {
   font-family: 'Gilroy';
   src: local('Gilroy Bold'), local('Gilroy-Bold'),
       url('fonts/Gilroy-Bold.woff2') format('woff2'),
       url('fonts/Gilroy-Bold.woff') format('woff'),
       url('fonts/Gilroy-Bold.ttf') format('truetype');
   font-weight: 700;
   font-style: normal;
}
@font-face {
   font-family: 'Gilroy';
   src: local('Gilroy Medium'), local('Gilroy-Medium'),
       url('fonts/Gilroy-Medium.woff2') format('woff2'),
       url('fonts/Gilroy-Medium.woff') format('woff'),
       url('fonts/Gilroy-Medium.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}
$lh: 123%;


body {
   font-family: 'Gilroy', sans-serif;
   color: #070707;
}

 /*------------ОБЩИЕ КЛАССЫ------------*/ 
 ._container {
   padding: 0 250px;
   margin: 0 auto;
   max-width: 1445px;
   @media (max-width: 1336px) {
      padding: 0 140px;
   }
   @media (max-width: 767px) {
      padding: 0 70px;
   }
   @media (max-width: 479px) {
      padding: 0 29px;
   }
 }

.title {
   font-weight: 700;
   font-size: 34px;
   line-height: $lh;
   text-align: center;
}

.text {
   font-size: 18px;
   line-height: $lh;
   text-align: center;
}
.wrapper {
}

.content {
   &__about-me {}
   &__skills {}
   &__portfolio {}
   &__contacts {}
}

/*-------------HEADER----------------*/

.header {
   &__container {}
   &__menu {}
}
.menu {
   position: relative;
   &__list {
      display: flex;
      min-height: 88px;
      justify-content: space-between;
      align-items: center;
   }
   &::after{
      position: absolute;
      top: 88px;
      content: '';
      width: 100%;
      border: 1px solid #828282;
   }
   &__item {
      a{
         transition: color .5s ease 0s;
         color: #828282;
         font-weight: 700;
         &:hover{
            color: #070707;
         }
      }
   }
}

.header-body {
   margin: 40px 0 104px 0;
   &__content {
      display: flex;
      justify-content: space-between;
      align-items: end;
   }
   &__title {
      font-size: 47.32px;
      max-width: 125px;
      line-height: $lh;
      font-weight: 700;
   }
   &__about {
      font-size: 18px;
      line-height: $lh;
      max-width: 157px;
   }
   &__langs {
      
   }
   &__lang {
      position: relative;
      writing-mode: vertical-lr;
      transform: rotate(180deg);   
      font-size: 16px;
      line-height: $lh;
      font-weight: 700;
      color: #828282;
      transition: all .5s ease 0s;
      &_active {
            color: #070707;
      }
      &:not(:last-child) {
         margin-bottom: 14px;
      }
      &:not(:last-child)::after {
         content: '';
         border: 1.5px solid #070707;
         background-color: #070707;
         position: absolute;
         top: -9px;
         width: 100%
      }
   }
   &__image-body {
      margin-top: 50px;
      display: flex;
   }
   &__image {
      flex: 0 1 100%;
      img {
         width: 100%;
         height: 100%;
      }
   }
}
/*------------ABOUT ME-----------------*/ 

.about-me {
   background-color: #f6f6f6;
   padding: 120px 0 107px 0;
   &__container {}
   &__body {}
   &__title {}
   &__text-body {
      margin-top: 35px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 218px;
   }
   &__text {}
}

/*-----------------SKILLS-------------*/

.skills {
   padding: 91px 0 107px 0;
   &__container {}
   &__body {}
   &__title {}
   &__text {
      margin-top: 69px;
   }
   &__row {
      margin-top: 83px;
   }
}
.row-skills {
   &__body {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      margin: -15px 0;
   }
   &__item {
      padding: 15px 0;
      flex: 0 1 25%;
      @media (max-width: 1023px) {
         flex: 0 1 50%;
      }
      @media (max-width: 767px) {
         flex: 0 1 100%;
      }
   }
}
.item-skills {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   &__image {
      max-width: 90px;
      img {
         width: 100%;
         height: 100%;
      }
   }
   &__text {
      max-width: 71px;
      text-align: center;
      font-size: 14px;
      line-height: $lh;
      color: #828282;
      margin: 24px 0 40px 0;
   }
   &__stars {
      :not(:last-child){
         margin-right: 9px;
      }
   }
   &__star {
      
   }
}

/*---------------portfolio-------------*/


.portfolio {
   background-color: #f6f6f6;
   padding: 113px 0 96px 0;
   &__container {}
   &__body {}
   &__title {
      margin-bottom: 53px;
   }
   &__item {
      display: flex;
      flex-direction: column;
      &:not(:last-child){
         margin-bottom: 99px;
      }
   }
   &__image {
      flex: 0 1 100%;
      img {
         width: 100%;
         height: 100%;
      }
   }
   &__text {
      position: relative;
      a {
         color: #070707;
         text-decoration: underline;
      }
      margin-top: 49px;
   }
}

/*------------------CONTACTS-------------------*/  


.contacts {
   text-align: center;
   padding: 115px 0 124px 0;
   &__container {}
   &__body {}
   &__title {
   }
   &__text {
      margin-top: 20px;
   }
   &__icons {
      display: flex;
      justify-content: space-between;
      max-width: 343px;
      flex-wrap: wrap;
      margin: 86px auto 0 auto;
   }
   &__item {
      img {

      }
   }
   &__button {
      padding: 13px 0;
      max-width: 181px;
      margin: 30px auto 0 auto;
      background-color: black;
      border-radius: 21px;
      a {
         color: white;
         font-size: 18px;
         font-weight: 700;
      }
      @media (max-width: 480px) {
         max-width: 100%;
      }
   }
   &__light-text {
      margin-top: 45px;
      color: #828282;
      line-height: $lh;
   }
}
